altgraph
aniso8601
argon2-cffi
attrs
azure-common
azure-cosmosdb-nspkg
azure-cosmosdb-table
azure-nspkg
backcall
bleach
boto3
botocore
cachelib
certifi
cffi
chardet
charset-normalizer
click
colorama
cryptography
cs50
cycler
debugpy
decorator
defusedxml
entrypoints
Faker
Flask
Flask-HTTPAuth
Flask-RESTful
Flask-Session
future
greenlet
idna
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
jmespath
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
mysql-connector
mysql-connector-python
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
panda
pandas
pandocfilters
parso
pefile
pickleshare
Pillow
pip
prometheus-client
prompt-toolkit
protobuf
pycparser
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyodbc
pyparsing
pyrsistent
python-dateutil
pytz
requests
s3transfer
scikit-learn
scipy
setuptools
SQLAlchemy
sqlparse
termcolor
terminado
testpath
text-unidecode
threadpoolctl
tornado
touch
traitlets
urllib3
values
wcwidth
webencodings
Werkzeug
wheel
widgetsnbextension